fastapi
uvicorn
boto3
sentence_transformers
faiss-cpu
PyMuPDF
python-multipart
tavily-python
pillow
pandas
python-docx
python-pptx
streamlit
streamlit-authenticator
streamlit-cookies-manager
plotly
matplotlib
numpy
requests
tiktoken
opencv-python
pytz
